body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.img-hero {
  width: 100%;
}

.hero-banner {
  margin: 25px auto;
}

.about-me > button {
  padding: 1.2rem 3.5rem;
  font-size: 1.1rem;
}

.content,
.about-me {
  margin: 3rem auto 5rem;
}
